{% extends 'comments/base.html' %}

{% load model_comment_tags %}

{% block content %}

{% if form.is_valid and form.preview %}
	{{ form|preview_comment }}
{% endif %}

<b>Post your comment</b>

<form action="{% comment_form_target %}" method="post" class="model-comment-form model-comment-form-{{ form.get_model_name }}">
	{{ form }}

    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="Post" />
    <input type="submit" name="preview" class="submit-preview" value="Preview" />
    </p>
  </form>
{% endblock content %}
